:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", "serif";
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    display: flex;
    flex-direction: column;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

 .socialmedia {
    display: flex;
}

nav a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    padding: 1rem;
    position: absolute;
    top: 15%;
    left: -2%;
    width: 100%;
    background: rgba(128, 128, 128, 0.6);
    color: var(--primary-color);
}

.hero article img{
    float: right;
    padding: 5px;
}

.hero article p{
    line-break: anywhere;
    color: #fff;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: aqua;
}

.hero article img {
    float: right;
    width: 12rem;
    top: 20px;
}